/* open-sans-300 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensanslight.woff') format('woff');
  /* Modern Browsers */
}

/* open-sans-regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/opensans.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans.woff') format('woff');
  /* Modern Browsers */
}

/* gilroy-300 */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

/* gilroy-800 */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');

}

/* variables */
/* basic colors */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;

  --special-yellow-dark: #F0C52E;
  --special-yellow: #F7E296;
  --special-green: #91C92F;

  --status-warning: #F6DADA;

  --form-disabled: #A6A6A6;
}

/* Глобальные стили */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Verdana', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/* Специфичные стили */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search-icon {
  background-image: url('../img/decor/search.svg');
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

.search-field {
  background-color: transparent;
  border: 0;
}

.reversed-fader {
  opacity: 0.3;
}

.reversed-fader:hover {
  opacity: 0.7;
}

.reversed-fader:active {
  opacity: 1.0;
}

.search-field::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus::placeholder {
  opacity: 1.0;
}

.user-menu__link,
.text-paragraph,
.footer__address,
.tel,
.search-field,
.breadcrumbs__link,
.catalog__item-to-compare {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-weight: 300;
}

.page-header {
  background-color: var(--special-yellow);
}

.site-navigation__link,
.about__link,
.feedback__link,
.catalog__item-to-cart,
.filter__submit-btn {
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sync-fader:hover {
  opacity: 0.6;
}

.sync-fader:focus,
.sync-fader:active {
  opacity: 0.3;
}

.title {
  font-size: 47px;
  line-height: 58px;
}

section .title {
  letter-spacing: 0.2em;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

.text-paragraph {
  line-height: 28px;
}

.partners__list {
  list-style-type: circle;
}

.partners__item {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.form-label {
  font-size: 14px;
  line-height: 19px;
}

.form-label-disabled {
  color: var(--form-disabled);
}

.filter__submit-btn {
  border: 0;
  background-color: transparent;
}

.link__container:hover {
  background-color: var(--special-yellow-dark);
}

.about__link:active,
.feedback__link:active,
.catalog__item-to-cart:active,
.filter__submit-btn:active {
  background-color: var(--special-yellow-dark);
  opacity: 0.3;
}

.page-footer {
  background-color: var(--basic-dark);
}

.filter {
  background-color: var(--basic-grey-light);
}

.catalog__item-header {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog__item-to-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.catalog__item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog__item-tag {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.3;
}

.white-text {
  color: var(--basic-white)
}

.async-fader {
  opacity: 0.7;
}

.async-fader:hover {
  opacity: 1.0;
}

.async-fader:active {
  opacity: 0.3;
}

.compare-fader {
  opacity: 0.5;
}

.compare-fader:hover {
  opacity: 1.0;
}

.compare-fader:active {
  opacity: 0.2;
}

/* Порядок свойств
Объявления логически связанных свойств группируются в следующем порядке:

Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное */
