/* open-sans-300 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/opensanslight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensanslight.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/opensans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans.woff') format('woff'); /* Modern Browsers */
}

/* gilroy-300 */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
       url('../fonts/gilroylight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gilroylight.woff') format('woff'); /* Modern Browsers */
}

/* gilroy-800 */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gilroyextrabold.woff') format('woff'); /* Modern Browsers */
}

/* variables */
/* basic colors */
:root {
 --basic-black: #000000;
 --basic-dark: #363636;
 --basic-grey: #464646;
 --basic-half-grey: #7E7E7E;
 --basic-grey-light: #E5E5E5;
 --basic-white: #FFFFFF;
 --special-yellow-dark: #F0C52E;
 --special-yellow: #F7E296;
 --special-green: #91C92F;
 --status-warning: #F6DADA;
}
